<!DOCTYPE html>
<html lang="pt-br" ng-app="Login">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>PPC</title>
        <link rel="icon" href="images/icon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    </head>

    <body>
        <div class="masterBox" ng-controller="loginController">
            <img src="images/logoProvisoria.png" class="logo" alt="some text" width="400px", height="auto">
            <form class="box" action="index.html" method="POST" ng-show="status.logando">
                <div>
                    <h1>Login</h1>
                    <input type="text" name="" placeholder="Email ou Login" ng-model="credenciais.loginloginEmail">
                    <input type="password" name="" placeholder="Senha" ng-model="credenciais.senha">
                    <input type="submit" name="" value="Login" ng-click='logar()'>
                    <div><p>Ou</p></div>
                    <input type="button" name="" value="Cadastrar" ng-click='cadastrar()'>
                    <a class="esqueciSenha" href="https://noticias.uol.com.br/ciencia/ultimas-noticias/redacao/2016/12/12/estimulos-magneticos-podem-ajudar-a-recuperar-lembrancas-esquecidas.htm">Esqueceu a senha?</a>
                </div>
            </form>
            <form class="box2" action="index.html" method="POST" ng-show="status.cadastrando">
                <div ng-show="status.cadastrando" class="cadastroBox">
                    <h1>Cadastro</h1>
                    <input type="text" name="big" placeholder="Nome" ng-model="credenciais.nome">
                    <input type="text" name="big" placeholder="Login" ng-model="credenciais.login">
                    <input type="text" name="" placeholder="Email" ng-model="credenciais.email">
                    <input type="text" name="" placeholder="Confirme o email" ng-model="credenciais.confirmEmail">
                    <input type="password" name="" placeholder="Senha" ng-model="credenciais.senha">
                    <input type="password" name="" placeholder="Confirme a senha" ng-model="credenciais.senha">
                    <p>[_] checkbox here</p>
                    <input type="submit" name="" value="Cadastrar">
                    <p>Já é cadastrado?<a>Fazer login.</a></p>
                </div>
            </form>
            
        </div>
        <script src="app.js"></script>
        <script src="ctrl.js"></script>
    </body>
</html>