body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #806334;
}
::-webkit-input-placeholder{
    color:rgb(206, 206, 206);
}
.masterBox{
    margin: 0px;
    width: 400px;
    padding-top: 37px;
    padding-bottom: 700px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #CC8616;
    text-align: center;
    box-shadow: 0 0 5px #CC8616;
}
.box{
    width: 350px;
    padding: 40px;
    padding-top: 0px;
    margin-top: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #CC8616;
    text-align: center;
    border: 1px solid #806334;
    border-radius: 10px;
}
.box h1{
    color: white;
    font-weight: 500;
    margin: 40px;
    margin-top: 25px;
}
.box a{
    font-family: Arial Narrow, sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px auto;
    padding: 10px;
    font-size: 80%;
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 25px auto;
    text-align: center;
    border: 2px solid #806334;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 250px;
    border-color: #4399BE;
}
.box input[type = "submit"]{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #6EFA86;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #6EFA86;
}
.box input[type = "button"]{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #4399BE;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "button"]:hover{
    background: #4399BE;
}

.box2{
    width: 350px;
    padding-bottom: 80px;
    padding-top: 0px;
    margin-top: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #CC8616;
    text-align: center;
    border: 1px solid #9e783a;
    border-radius: 10px;
}
.box2 h1{
    color: white;
    font-weight: 500;
    margin: 50px;
    margin-top: 25px;
}
.box2 a{
    font-family: Arial Narrow, sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px auto;
    padding: 10px;
    font-size: 80%;
}
.cadastroBox {
    align-self: center;
    flex-direction: row;
}
.box2 input[type="text"],.box2 input[type="password"]{
    border: 0;
    background: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    text-align: center;
    border: 2px solid #806334;
    padding: 10px 3px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    
}
.box2 input[type="text"]:focus,.box2 input[type="password"]:focus{
    width: 160px;
    margin-left: 0px;
    margin-right: 0px;
    border-color: rgb(53, 123, 153);
}
.box2 input[name="big"]{
   width: 319px;
}
.box2 input[name="big"]:focus{
    width: 329px;
    margin-left: 0px;
    margin-right: 0px;
    border-color: rgb(53, 123, 153);
}
.box2 input[type = "submit"]{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #6EFA86;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box2 input[type = "submit"]:hover{
    background: #6EFA86;
}
.box2 input[type = "button"]{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    margin-top: 30px;
    text-align: center;
    border: 2px solid #4399BE;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box2 input[type = "button"]:hover{
    background: #4399BE;
}