<html ng-app='Test'>

    <head>
        <title>Iniciando em AngularJS</title>
        <link rel="stylesheet" href="test.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    </head>

    <body>
        <h2>1</h2>
        <input type="text" ng-model="nome">
        <p>Olá, Jovem! Meu nome é: {{ nome }}</p>

        <h2>2</h2>
        <div ng-controller="ListaComprasController">
            <form class="form-inline" name="formItem">
                <input type="text" ng-model="item.produto">
                <input type="number" ng-model="item.quantidade">
                <button ng-click="adicionaItem()">adicionar ítem</button>
            </form>
            <table>
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in itens">
                  <td><strong>{{ item.produto }}</strong></td>
                  <td>{{ item.quantidade }}</td>
                </tr>
              </tbody>
            </table>
            <p ng-bind="itens[0]"></p>
        </div>

        <h2>3</h2>
        <div ng-app="" ng-init="firstName='John'">
          <p>Name: <input type="text" ng-model="firstName"></p>
          <p>You wrote: {{ firstName }}</p>
        </div> 

        <h2>4</h2>
        <div ng-app="" ng-init="quantity=1;price=5">
          Quantity: <input type="number" ng-model="quantity">
          Costs:    <input type="number" ng-model="price">
          Total in dollar: {{ quantity * price }}
        </div> 

        <h2>5</h2>
        <div ng-app="" ng-init="names=['Jani','Hege','Kai']">
          <ul>
            <li ng-repeat="x in names">
              {{ x }}
            </li>
          </ul>
        </div>

        <h2>6</h2>
        <div ng-app="myApp" ng-controller="myCtrl">
          Name: <input ng-model="name">
        </div> 
        <script>
          var app = angular.module('myApp', []);
          app.controller('myCtrl', function($scope) {
            $scope.name = "John Doe";
          });
        </script> 

        <h2>7</h2>
        <div ng-app="myApp" ng-controller="myCtrl">
          Name: <input ng-model="name">
          <p>You entered: {{name}}</p>
        </div>
        <script>
          var app = angular.module('myApp', []);
          app.controller('logarmyCtrl', function($scope) {
            $scope.name = "John Doe";
          });
        </script> 
        <div ng-app="myApp" ng-controller="myCtrl">
          Name: <input ng-model="name">
          <h1>You entered: {{name}}</h1>
        </div>

        <h2>8</h2>
        <form ng-app="" name="myForm">
          Email:
          <input type="email" name="myAddress" ng-model="text">
          <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
        </form>

        <h2>9</h2>
        <form ng-app="" name="myForm" ng-init="myText = 'post@myweb.com'">
          Email:
          <input type="email" name="myAddress" ng-model="myText" required>
          <h1>Status</h1>
          {{myForm.myAddress.$valid}}
          {{myForm.myAddress.$dirty}}
          {{myForm.myAddress.$touched}}
        </form>

        <h2>10</h2>
        <style>
          input.ng-invalid {
            background-color: lightblue;
          }
        </style>
        <form ng-app="" name="myForm">
          Enter your name:
          <input name="myName" ng-model="myText" required>
        </form>

        <h2>11</h2>
        <div ng-app="myApp" ng-controller="myCtrl">
          <p ng-bind="firstname"></p>
        </div>


        <h3>end</h3>
        <script src="testApp.js"></script>
        <script src="testCtrl.js"></script>
    </body>

</html>